# PDM & Virtuelle Umgebung
.venv/
.pdm-plugins/

# Python Cache & Standard-Ignorierungen
*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python


# Streamlit & Betriebssystem
.streamlit/config.toml
.DS_Store